<entry>
  <category term='filter'></category>
  <title>Mail Filter</title>
  <id>tag:mail.google.com,2008:filter:1296067053788</id>
  <updated>2016-10-23T11:20:05Z</updated>
  <content></content>
  <apps:property name='hasTheWord' value='<% rules.each_with_index do |from, index| %><%=from%><% if index < rules.size - 1 %> OR <% end %><% end %>'/>
  <apps:property name='shouldTrash' value='true'/>
</entry>
